<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>
<body>
    <h2>Вход</h2>
    <form method="POST" action="/login">
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Войти</button>
    </form>
</body>
</html>